In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [17]:
df = pd.read_csv("../../data/raw/winequality-red.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [18]:
print(df.isnull().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [19]:
# Handle Duplicates
print("\nNumber of duplicates:", df.duplicated().sum())

Number of duplicates: 240

In [20]:
if df.duplicated().sum() > 0:
    print("\nDuplicate rows (before removal):")
    print(df[df.duplicated(keep=False)].sort_values(by=list(df.columns)))
    df = df.drop_duplicates()
    print(f"\nRemoved {df.duplicated().sum()} duplicates. New shape:", df.shape)

Duplicate rows (before removal):
      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
142             5.2             0.340         0.00             1.8      0.050
144             5.2             0.340         0.00             1.8      0.050
131             5.6             0.500         0.09             2.3      0.049
132             5.6             0.500         0.09             2.3      0.049
1488            5.6             0.540         0.04             1.7      0.049
...             ...               ...          ...             ...        ...
391            13.7             0.415         0.68             2.9      0.085
243            15.0             0.210         0.44             2.2      0.075
244            15.0             0.210         0.44             2.2      0.075
554            15.5             0.645         0.49             4.2      0.095
555            15.5             0.645         0.49             4.2      0.095

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
142                  27.0                  63.0  0.99160  3.68       0.79
144                  27.0                  63.0  0.99160  3.68       0.79
131                  17.0                  99.0  0.99370  3.63       0.63
132                  17.0                  99.0  0.99370  3.63       0.63
1488                  5.0                  13.0  0.99420  3.72       0.58
...                   ...                   ...      ...   ...        ...
391                  17.0                  43.0  1.00140  3.06       0.80
243                  10.0                  24.0  1.00005  3.07       0.84
244                  10.0                  24.0  1.00005  3.07       0.84
554                  10.0                  23.0  1.00315  2.92       0.74
555                  10.0                  23.0  1.00315  2.92       0.74

      alcohol  quality
142      14.0        6
144      14.0        6
131      13.0        5
132      13.0        5
1488     11.4        5
...       ...      ...
391      10.0        6
243       9.2        7
244       9.2        7
554      11.1        5
555      11.1        5

[460 rows x 12 columns]

Removed 0 duplicates. New shape: (1359, 12)

In [21]:
print("\nNumber of duplicates:", df.duplicated().sum())

Number of duplicates: 0

In [22]:
# Separate features and target
X = df.drop('quality', axis=1)
y = df['quality']

In [23]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature scaling (very important for SVM)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)